<<<<<<< HEAD
<h2>Shopping Cart<h2>

 <h1>Item: <%= @session[:item] %></h1><br>
=======

<div class = "checkout">

 <h1>Item: <%=@secret%></h1><br>

 <div><br>
>>>>>>> 72c697e1dfe58eaf1e04ca008c9b069082ac2929
