

<!-- 
<form action = "/checkout" method = "POST">

<p>Item: <input type = "text" id type = "item" name = "item"></p>


<button id="submit" type="submit" >Submit</button> -->

<form action = " /checkout" method = "POST">

<p>Item: <input type = "text" input id = "item" name = "item[:name]"></p>


<button id="submit" type="submit">Submit</button>

  </form>
